/* ==========================================
   VARIABLES GLOBALES
========================================== */

:root {

    /* ------------------------------------------
       Couleurs
    ------------------------------------------ */

    --primary: #c68b2c;
    --primary-dark: #a9701b;

    --text: #2c2926;
    --text-light: #6f6962;

    --white: #ffffff;


    /* ------------------------------------------
       Conteneur
    ------------------------------------------ */

    --container-width: 1240px;

    --container-padding: 24px;


    /* ------------------------------------------
       Transitions
    ------------------------------------------ */

    --transition: 0.25s ease;

}